<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FCTB" version="2.16.24" targetFramework="net48" />
  <package id="Grille-DarkUI" version="3.0.2" targetFramework="net48" />
  <package id="PagedControl" version="2.2.0" targetFramework="net48" />
  <package id="TabControl" version="2.1.2" targetFramework="net48" />
</packages>